/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: "Red Hat Display", sans-serif;
  /*font-size: 16px;*/
  color: #e78655; }

.button {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: block;
  text-align: right; }
  .button-text {
    font-size: 2.2rem;
    font-weight: 700;
    color: white;
    padding: 1rem 4rem 1rem 4rem;
    background-color: #aa1913;
    border-radius: 2rem;
    border: 0;
    text-decoration: none;
    outline: 0; }

.section-landing {
  background-image: linear-gradient(to right bottom, rgba(43, 43, 43, 0.9), rgba(0, 0, 0, 0.9)), url(../img/work.jpg);
  background-size: cover; }
  .section-landing-body {
    padding: 1.5rem;
    padding-top: 0;
    margin: 0 auto;
    height: 70vh;
    position: relative;
    width: 80em; }
    @media only screen and (max-width: 37.5em) {
      .section-landing-body {
        width: 100%; } }
  .section-landing .logo {
    margin-top: 1.5rem; }
  .section-landing .landing {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translate(0%, -50%);
    text-align: right; }
    .section-landing .landing-header {
      color: white;
      font-size: 3.5rem;
      font-weight: 700; }
    .section-landing .landing-text {
      color: #e78655;
      font-size: 1.7rem;
      font-weight: 400;
      padding: 1.5rem 0; }
    .section-landing .landing-emphasis {
      color: #e78655;
      font-size: 3.7rem;
      font-weight: 700;
      font-style: italic;
      line-height: 5rem; }
    .section-landing .landing-emphasis-red {
      color: #d65651;
      font-size: 3.7rem;
      font-weight: 700;
      font-style: italic;
      line-height: 5rem; }

.section-services {
  background-color: #fffdf9; }
  .section-services-body {
    padding: 1.5rem;
    width: 80em;
    margin: 0 auto; }
    @media only screen and (max-width: 37.5em) {
      .section-services-body {
        width: 100%; } }
    .section-services-body-content {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      justify-content: center;
      padding: 1.5rem 0; }
  .section-services .heading-text {
    color: #21001e;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem; }
  .section-services .service {
    width: 48%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem; }
    @media only screen and (max-width: 37.5em) {
      .section-services .service {
        display: block;
        width: 100%;
        margin-bottom: 2rem; } }
    .section-services .service-heading {
      color: #21001e;
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 1rem;
      text-align: center; }
    .section-services .service-body {
      color: #21001e;
      font-size: 2.2rem;
      font-weight: 400;
      text-align: center;
      flex: 1; }
  .section-services .service:nth-child(odd) {
    margin-right: 1.5rem; }
    @media only screen and (max-width: 37.5em) {
      .section-services .service:nth-child(odd) {
        margin-right: 0; } }
  .section-services .tech-icons {
    text-align: center;
    margin-top: 1.5rem; }
    .section-services .tech-icons .icon:not(:last-child) {
      margin-right: 1.5rem; }
  .section-services .italic-text {
    color: #21001e;
    font-size: 2.2rem;
    font-weight: 400;
    font-style: italic;
    padding: 1.5rem 0;
    text-align: right; }

.section-about-us {
  background-color: #21001e; }
  .section-about-us-body {
    padding: 1.5rem 0;
    padding-bottom: 0;
    width: 80em;
    margin: 0 auto; }
    @media only screen and (max-width: 37.5em) {
      .section-about-us-body {
        width: 100%; } }
    .section-about-us-body-content {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      justify-content: center;
      padding: 1.5rem 0; }
      @media only screen and (max-width: 37.5em) {
        .section-about-us-body-content {
          padding: 0; } }
  .section-about-us .heading-text {
    color: #ffffff;
    font-size: 3.5rem;
    font-weight: 700;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem; }
  .section-about-us .profile {
    background-color: #4c4967;
    padding: 1.5rem;
    width: 49%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem; }
    @media only screen and (max-width: 37.5em) {
      .section-about-us .profile {
        display: block;
        width: 100%;
        margin-bottom: 1.5rem; } }
    .section-about-us .profile-header::after {
      content: "";
      display: table;
      clear: both; }
    .section-about-us .profile-header-titles {
      float: left; }
    .section-about-us .profile-name {
      color: white;
      font-size: 2.7rem;
      font-weight: 700; }
    .section-about-us .profile-subtitle {
      color: white;
      font-weight: 600;
      font-family: "Lora", serif;
      font-style: italic;
      font-size: 2.2rem;
      padding: 1.5rem 0; }
    .section-about-us .profile-image {
      float: right;
      overflow: hidden;
      border-radius: 50%;
      margin-bottom: 1rem; }
    .section-about-us .profile-body {
      color: white;
      font-size: 2.2rem;
      flex: 1; }
  .section-about-us .profile:nth-child(odd) {
    margin-right: 1.5rem; }
    @media only screen and (max-width: 37.5em) {
      .section-about-us .profile:nth-child(odd) {
        margin-right: 0; } }
  .section-about-us .companies {
    background-color: #342d39;
    border-top: 0.5rem solid #4c4967;
    border-bottom: 0.5rem solid #4c4967;
    padding: 0 1.5rem;
    padding-bottom: 1.5rem; }
    .section-about-us .companies-heading {
      font-size: 2.5rem;
      color: white;
      text-align: center;
      padding: 1.5rem 0; }
    .section-about-us .companies-recent {
      text-align: center; }
      .section-about-us .companies-recent-image:not(:last-child) {
        padding-right: 1.5rem; }
    .section-about-us .companies-previous {
      text-align: center;
      padding-top: 1rem; }
      .section-about-us .companies-previous-image:not(:last-child) {
        padding-right: 1.5rem; }

.section-recent-project {
  background-color: #21001e; }
  .section-recent-project-body {
    padding: 1.5rem;
    width: 80em;
    margin: 0 auto; }
    @media only screen and (max-width: 37.5em) {
      .section-recent-project-body {
        width: 100%; } }
    .section-recent-project-body-content {
      display: flex;
      flex: 1;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      padding: 1.5rem 0; }
      @media only screen and (max-width: 37.5em) {
        .section-recent-project-body-content {
          display: block; } }
  .section-recent-project .heading-text {
    color: #ffffff;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem; }
  .section-recent-project .showcase {
    flex: 1;
    margin-bottom: 1.5rem;
    text-align: center; }
    .section-recent-project .showcase .recent-project-image {
      max-width: 49%;
      transform: translate(0, -75px); }
    .section-recent-project .showcase .recent-project-screenshot {
      max-width: 49%; }
  .section-recent-project .recent-project-body {
    flex: 1; }
    .section-recent-project .recent-project-body-text {
      color: white;
      font-weight: 500;
      font-size: 2.2rem;
      line-height: 2.9rem;
      padding-bottom: 1.5rem; }

.section-contact {
  background-color: #fffdf9; }
  .section-contact-body {
    padding: 1.5rem;
    width: 80em;
    margin: 0 auto; }
    @media only screen and (max-width: 37.5em) {
      .section-contact-body {
        width: 100%; } }
  .section-contact .heading-text {
    color: #21001e;
    font-size: 3.5rem;
    font-weight: 700; }
  .section-contact .contact-form-label {
    color: #21001e;
    display: block;
    font-size: 2.7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem; }
  .section-contact .contact-form-input {
    width: 100%;
    background-color: white;
    border-radius: 1.5rem;
    border-width: 1px;
    border-color: #21001e;
    color: #21001e;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 400;
    padding: 1rem; }
  .section-contact .contact-form-input:focus {
    outline: none;
    border-color: #e78655; }
  .section-contact .contact-form-textarea {
    resize: none;
    width: 100%;
    background-color: white;
    border-radius: 1.5rem;
    border-width: 1px;
    border-color: #21001e;
    color: #21001e;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 400;
    padding: 1rem; }
  .section-contact .contact-form-textarea:focus {
    outline: none;
    border-color: #e78655; }
  .section-contact .serif-text {
    color: #21001e;
    font-size: 1.8rem;
    font-weight: 600;
    font-family: "Lora", serif;
    font-style: italic;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    text-align: center;
    line-height: 2.4rem; }

.footer-body {
  padding: 1.5rem;
  width: 80em;
  margin: 0 auto; }
  @media only screen and (max-width: 37.5em) {
    .footer-body {
      width: 100%; } }

.footer-text {
  color: #21001e;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center; }
