h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

p {
  font-family: "Poppins", sans-serif;
}

h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}
